.table-container {
  padding: 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.css-130xbax-MuiTable-root {
  border: 1px solid #333;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  min-width: 30px !important;
  padding: 6px 5px !important;
}
i {
  margin: 0 5px;
  font-size: 16px !important;
  cursor: pointer;
  font-size: inherit;
}
.fa-eye {
  color: rgb(105, 105, 224);
}
.fa-pencil {
  color: rgb(119, 119, 119);
}
.fa-trash {
  color: rgb(228, 91, 91);
}
.no-data-text {
  font-size: 18px;
  text-align: center;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  background-color: rgb(210 25 25 / 0%) !important;
}
/* td {
  width: 50px;
} */
