.list {
  width: 100%;
  padding: 0 80px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  width: unset !important;
  border: 1px solid #000;
}
.css-1ygcj2i-MuiTableCell-root {
  font-weight: 600 !important;
}
.btn-add {
  margin: 10px !important;
}
